{% extends 'base.html' %}
{% block content %}

     <div style="text-align:center" id="Film-Reviews-Heading">
        <h2>Film Reviews</h2>
    </div>
<!--    <section>-->
<!--        <img class="film-reviews-images" src="../static/raya-movie-poster.jpg">-->
<!--        <div class="preview-and-prompt-button">-->
<!--            <h3 class="film-reviews-movie-title">Raya and the Last Dragon (2021) Review</h3>-->
<!--            <p class="film-reviews-snippet">After having Disney fanatics ogling at the stunning aesthetics of the-->
<!--                trailer, the Disney animated movie starring the movie house's first ever Southeast Asian princess in the-->
<!--                98 years since its founding, Raya and the Last Dragon, finally made its arrival at theatres. While-->
<!--                Disney has been rather slow to hop onto the bandwagon of increasing the diversity of their starring-->
<!--                heroes and heroines...-->
<!--            </p>-->
<!--            <br>-->
<!--            <a class="read-more-button" href=“new-gods-nezha-reborn.html” alt=“read-movie-review”>Read More</a>-->
<!--        </div>-->
<!--    </section>-->
<!--    <br>-->

<!--            {% for post in posts %}-->
<!--                <h6>{{ post.title }}</h6>-->
<!--                <p>By {{ post.author.username }} on {{ post.date_posted.strftime('%Y-%m-%d') }} </p>-->
<!--                <p> {{ post.content }}</p>-->
<!--            {% endfor %}-->

    <section>
        <br>
        <div class="preview-and-prompt-button">
            {% for post in posts %}
<!--            Image showing from here-->
                <div class="review-image-center">
                    <img src="../static/default_copy.jpg" alt="default image message">
                </div>
<!--            To here - contained within div tag-->
                <h3 class="film-reviews-movie-title">{{ post.title }}<h3>
                <p>By {{ post.author.username }} on {{ post.date_posted.strftime('%Y-%m-%d') }} at {{ post.date_posted.strftime('%H:%M') }}
</p>
                <p class="film-reviews-snippet"> {{ post.content | truncate(400) }}
                </p>
                <br>
<!--            Need to fix the comment part-->
                <a class="read-more-button" href="{{ url_for('blogreview', comment_id=post.id) }}" alt=“read-movie-review”>Read More</a>
                <br>
            {% endfor %}
        </div>
    </section>
    <br>


<!--    <section>-->
<!--        <img class="film-reviews-images" src="../static/silk-road-movie-poster.jpg">-->
<!--        <div class="preview-and-prompt-button">-->
<!--            <h3 class="film-reviews-movie-title">Silk Road (2021) Review</h3>-->
<!--            <p class="film-reviews-snippet">Silk Road, the movie that had many of the cyber-scene action movies have been-->
<!--            anticipating, has finally hit the big screens. Starring Nick Robinson, the youngin' we came to know and love-->
<!--            through one of the first major LGBTQ+ love stories, and prior, through the less successful but also-->
<!--            exploratory 'Everything, Everything', the film is a re-telling of the fascinating creation and crumbling-->
<!--            of Silk Road, an "Amazon for drugs"...-->
<!--            </p>-->
<!--            <br>-->
<!--            <a class="read-more-button" href=“#” alt=“read-movie-review”>Read More</a>-->
<!--        </div>-->
<!--    </section>-->
<!--    <br>-->

<!--    <section>-->
<!--        <img class="film-reviews-images" src="../static/judas-and-the-black-messiah-movie-poster.jpg">-->
<!--        <div class="preview-and-prompt-button">-->
<!--            <h3 class="film-reviews-movie-title">Judas and the Black Messiah (2021) Review</h3>-->
<!--            <p class="film-reviews-snippet">Perhaps anticipated more for its soundtrack featuring a big, BIG range of up-->
<!--            and coming rappers, Judas and the Black Messiah stunned into silence the audience with a recount of absolute-->
<!--            betrayal as William O'Neal, offered a plea deal by the FBI,  infiltrates the Illinois chapter of the Black-->
<!--            Panther Party to gather intelligence on Chairman Fred Hampton. Starring Daniel Kaluuya and Lakeith Smith...-->
<!--            </p>-->
<!--            <br>-->
<!--            <a class="read-more-button" href=“#” alt=“read-movie-review”>Read More</a>-->
<!--        </div>-->

<!--    </section>-->
<!--    <br>-->

{% endblock content %}