{% extends 'base.html' %}
{% block content %}
<h1>Movie Maniac</h1>
<section id="home-main">
    <div class="grid-container-home">
        <div class="row" id="home-row"></div>
            <div class="column" id="home-col">
                <img class="home-image" src='../static/ladybird-still.jpg'>
            </div>
            <div class="column" id="home-col2">
                <img class="home-image" src='../static/parasite-still.png'>
            </div>
            <div class="column" id="home-col3">
                <img class="home-image" src='../static/andromeda.jpeg'>
            </div>
            <div class="column" id="home-col4">
                <img class="home-image" src='../static/when-they-see-us-still.jpg'>
            </div>
            <div class="column" id="home-col5">
                <img class="home-image" src='../static/shawshank-redemption-still.webp'>
            </div>
    </div>

</section>
<br>
<section>
    <a id="review-button" href= “add-link-here” alt=“All-Reviews”>Read All Reviews</a>

</section>
<br>
<br>
<section id="top-rated-movies">
            <h2>Top Rated Movies</h2>

    <div class="grid-container">
        <div class="row"></div>
            <div class="column">
                <img class="home-top-rated-image" src="../static/when-they-see-us.jpg" alt="When They See Us"
                    width="200px" height="300px"/>
            </div>
            <div class="column">
                <img class="home-top-rated-image" src="../static/parasite.jpg" alt="Parasite"
                    width="200px" height="300px"/>
            </div>
            <div class="column">
                <img class="home-top-rated-image" src="../static/ladybird.jpeg" alt="Lady Bird"
                    width="200px" height="300px"/>
            </div>

    </div>
</section>

    <br>
    <br>

    <div>
        <h5 >Have a Look at All Our Reviews</h5>
        <img class="home-review-intriguer-image" src="../static/i-tonya.jpg" width = "150px" height="200px">
        <p>Some random text here, will need to make adjustments to this and the above h4 tag their own classes
        to play with them in CSS. Do thrillers have your heart pumping? Or do romances make that heart flutter?
        From comedy reviews that may well be funnier than the movie itself to fantasy criticisms that'll tell you all
        you want to know about whether to watch the movie or not, we've got you. Come and take a look!</p>

<!--        Read more button-->
        <div>
            <a href=“#” alt=“read-reviews”>Read More</a>
        </div>
    </div>

    <div>
        <h3>Our Latest Reviews</h3>
        <section>
            <a class="movie-review-label" href="#blank_link_for_now"><h6>Movie 1 Review</h6></a>
            <img class="front-page-review-example" src="../static/the-boy-image.jpg" width = "100px" height="150px">
            <p> Will have to be the first section of the review. Will have to figure out how to get it to automatically
                become such. Is it JS? HTML? Python - I don't even know :D</p>
        </section>

        <section>
            <a class="movie-review-label" href="#blank_link_for_now"><h6>Movie 2 Review</h6></a>
            <img class="front-page-review-example" src="../static/get-hard-image.jpg" width = "100px" height="150px">
            <p> Will have to be the first section of the review. Will have to figure out how to get it to automatically
                become such. Is it JS? HTML? Python - I don't even know :D</p>
        </section>

        <section>
            <a class="movie-review-label" href="#blank_link_for_now"><h6>Movie 3 Review</h6></a>
            <img class="front-page-review-example" src="../static/all-the-bright-places-image.jpg" width = "100px" height="150px">
            <p> Will have to be the first section of the review. Will have to figure out how to get it to automatically
                become such. Is it JS? HTML? Python - I don't even know :D</p>
        </section>
    </div>
    <br>
    <br>
{% endblock content %}

