{% extends 'base.html' %}
{% block content %}
<img class="logo-styling" src="../static/logo-image.png">
<br>
<!--May need to change image file paths when we make folders-->
<!--    <div class="home-main-picture_1"></div>-->
<!--    <div class="home-main-picture_2"></div>-->

<!--This is the first section - the blog name + two images side by side + -->
<div id="home-main">
    <div class="home-main-pic">
        <img src='../static/Film-Soul.jpg' width="100%" height="100%">
    </div>
    <div class="home-main-pic">
        <img src='../static/hunger-games.jpg' width="100%" height="100%">
    </div>
    <div class="home-main-pic">
        <img src='../static/crazy-rich-asians.jpg' width="100%" height="100%">
    </div>
</div>
<div class="movie-manic-bio">
    <p>This is the introduction to our blog, we are four women on the Sky Get into Tech course and we have built a
        blog to review our absolute favourite films. We thoroughly enjoyed creating this, so we hope you like it almost
        as much as we do!</p>
    <h5>Read all of our reviews</h5>
</div>

<!-- Carousel -->
<section>
    <h2>Top Rated Movies</h2>
    <div class="bs-example">
        <div id="myCarousel" class="carousel slide" data-interval="6500" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
           <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item carousel-fade">
                  <img class="d-block w-100" src="../static/judas-and-the-black-messiah-movie-poster.jpg" alt=""
                       width="100%">
                    <div class="carousel-caption">
                      <h3>Judas and the Black Messiah (2021)</h3>
                      <p>Offered a plea deal by the FBI, William O'Neal infiltrates the Illinois chapter of the Black Panther Party to gather intelligence on Chairman Fred Hampton.</p>
                    </div>
                </div>
                <div class="item carousel-fade">
                    <img class="d-block w-100" src="../static/wonder-woman.jpeg" alt="" width="100%" height="150px">
                    <div class="carousel-caption">
                      <h3>Wonder Woman 1984 (2020)</h3>
                      <p>Diana must contend with a work colleague and businessman, whose desire for extreme wealth sends the world down a path of destruction, after an ancient artifact that grants wishes goes missing.</p>
                    </div>
                </div>
                <div class="item carousel-fade">
                    <img class="d-block w-100" src="../static/raya-movie-poster.jpg" alt="" width="100%" height="150px">
                    <div class="carousel-caption">
                      <h3>Raya and the Last Dragon (2021)</h3>
                      <p>In a realm known as Kumandra, a re-imagined Earth inhabited by an ancient civilization, a warrior named Raya is determined to find the last dragon.</p>
                    </div>
                </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</section>



    <section id="our-latest-reviews">
        <h2>Our Latest Reviews</h2>
            <div class="grid-container">
                {% for post in posts.items %}
                    <div class="row1">
                        <div class="column1">
                            <a href="{{ url_for('blogreview', comment_id=post.id) }}" alt=“read-movie-review”><img class="front-page-review-example" src="../static/home-newest-default.png" width = "150px" height="200px"></a>
                        </div>
                        <div class="column1">
                            <h5 class="our-latest-reviews-p"> {{ post.title }} </h5>
                            <p class="our-latest-reviews-p"> {{ post.content | truncate(600) }} </p>
                        </div>
                    </div>
<!--                <div class="row1">-->
<!--                    <div class="column1">-->
<!--                        <img class="front-page-review-example" src="../static/the-boy-image.jpg" width = "150px" height="200px">-->
<!--                    </div>-->
<!--                    <div class="column1">-->
<!--                        <p class="our-latest-reviews-p">In the pantheon of creepy dolls – from Talky Tina in “The Twilight Zone” to Chucky in the-->
<!--                        “Child’s Play” movies to Annabelle in “The Conjuring” – it’s often the idea of the inanimate-->
<!--                        object coming to life and wreaking bloody havoc that’s more frightening than the actual-->
<!--                        execution. It’s a tricky thing to pull off: drawing shivers from turning a childhood plaything-->
<!--                            into something truly menacing vs. eliciting giggles at the sheer silliness of the-->
<!--                            proposition.-->
<!--                        <br><br>-->
<!--                        Such is the unfortunate – and unintentionally hilarious – case of “The Boy,” whose moody-->
<!--                            atmosphere and committed performances can’t conceal the fact that this is one dumb flick.-->
<!--                            (It’s also a flick that wasn’t shown to critics before opening day; the studio actually-->
<!--                            pulled its scheduled Thursday-night sneaks of the film, in case you were wondering whether-->
<!--                            to be optimistic.)</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row1">-->
<!--                    <div class="column1">-->
<!--                        <img class="front-page-review-example" src="../static/get-hard-image.jpg" width = "150px" height="200px">-->
<!--                    </div>-->
<!--                    <div class="column1">-->
<!--                        <p class="our-latest-reviews-p">This film about a car wash manager, Darnell (Kevin Hart), helping a convicted hedge fund-->
<!--                            manager prepare for a stint in maximum security prison is driven by fear of non-consensual-->
<!--                            buggery, mostly at the hands of looming African-American prisoners with deep voices. At its-->
<!--                            core, the story is about a wimpy White man's fear of being owned and "turned out" by Black-->
<!--                            men—treated as a "bitch," to use a word both characters employ pretty much constantly. The-->
<!--                            script has the hedge fund manager "training" for prison by bulking up, and learning to carry-->
<!--                            himself with more confidence, and fight, and talk "black." None of this will be a surprise-->
<!--                            to anyone who's seen the subway and bus poster, which shows the hedge fund manager, James,-->
<!--                            seated, his face frozen in a not-so-secretly terrified fake scowl, while the car wash owner-->
<!--                            Darnell stands behind him, braiding his hair into cornrows.-->
<!--                            <br><br>-->
<!--                            Before we go further, let the record reflect that nothing about this material is inherently-->
<!--                            unacceptable. To quote the title of a Steve Martin album, comedy isn't pretty. Few things-->
<!--                            are more antithetical to the idea of art—not to mention more unfunny and boring—than a-->
<!--                            comedy that's mainly concerned with proving how sensitive it is.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row1">-->
<!--                    <div class="column1">-->
<!--                        <img class="front-page-review-example" src="../static/all-the-bright-places-image.jpg" width = "150px" height="200px">-->
<!--                    </div>-->
<!--                    <div class="column1">-->
<!--                        <p class="our-latest-reviews-p">One of the many life lessons preached by the well-intentioned, if ultimately ill-advised,-->
<!--                            young adult (YA) adaptation All the Bright Places is that even in the darkness, light is-->
<!--                            waiting. The lead teens, played of course by twentysomethings, have experienced some form of-->
<!--                            trauma in their past, and together they try to find meaning and hope in all the messiness.-->
<!--                            It’s something director Brett Haley tries as well, with the film that surrounds them-->
<!--                            layering issues of grief, suicide and mental illness while also trying to invest us in a-->
<!--                            cutesy romance. It’s a delicate balance, especially for a film aimed at a young, sensitive-->
<!--                            audience, and it’s not one Haley ever manages to perfect, struggling to let Jennifer Niven’s-->
<!--                            acclaimed source material breathe on its own, erring from twee to maudlin so fast it gives-->
<!--                            us whiplash.-->
<!--                            <br><br>-->
<!--                            In the first act, though, there’s a concept that I found rather intriguing. The film starts-->
<!--                            with Violet Markey (Elle Fanning) standing on the edge of a bridge, contemplating the fall,-->
<!--                            interrupted by Theodore Finch (Justice Smith). Her sister died in a car accident the year-->
<!--                            before, and she has been trapped in an emotional malaise ever since, unable to re-enter the-->
<!--                            world.</p>-->
<!--                    </div>-->
<!--                </div>-->
                {% endfor %}
            </div>
    </section>

<!--            <img class="home-review-intriguer-image" src="../static/i-tonya.jpg" width = "150px" height="200px">-->
<!--            <img class="front-page-review-example" src="../static/the-boy-image.jpg" width = "150px" height="200px">-->
<!--            <img class="front-page-review-example" src="../static/get-hard-image.jpg" width = "150px" height="200px">-->
<!--            <img class="front-page-review-example" src="../static/all-the-bright-places-image.jpg" width = "150px" height="200px">-->

    <br>
    <br>
{% endblock content %}
